{% extends 'core/base.html' %}

{% block title %}
Главная страница
{% endblock %}

{% block content %}
<div class="text-center mb-5">
    <h1 class="display-4 fw-bold">Vesttern</h1>
    <p class="lead">Разработка лекал для одежды и аксессуаров любой сложности</p>
</div>

<div class="row g-4">
    <div class="col-md-4">
        <div class="card h-100 shadow-sm">
            <div class="card-body">
                <h5 class="card-title">Что мы предлагаем</h5>
                <ul class="list-unstyled mb-0">
                    <li>• Разработка лекал для коллекции бренда или производство</li>
                    <li>• Мужская, женская, детская одежда и аксессуары</li>
                    <li>• Конструкторское сопровождение вашего проекта на производственном этапе</li>
                    <li>• Точное размножение лекал для любого размерного ряда </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card h-100 shadow-sm">
            <div class="card-body">
                <h5 class="card-title">Кому подойдёт</h5>
                <ul class="list-unstyled mb-0">
                    <li>• Брендам одежды и модельерам</li>
                    <li>• Производствам малого и среднего масштаба</li>
                    <li>• Начинающим дизайнерам и разработчикам</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card h-100 shadow-sm">
            <div class="card-body">
                <h5 class="card-title">Почему мы</h5>
                <p class="mb-0">
                    За проектом стоит опытный конструктор с многолетним стажем. Мы создаём лекала, где каждая деталь имеет значение. Высокое качество, точность и профессиональный подход — основа нашей работы.
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
